<div id="<%= dom_id maintenance_service %>">
  <p>
    <strong>Vehicle:</strong>
    <%= maintenance_service.vehicle_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= maintenance_service.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= maintenance_service.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= maintenance_service.date %>
  </p>

  <p>
    <strong>Cost cents:</strong>
    <%= maintenance_service.cost_cents %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= maintenance_service.priority %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= maintenance_service.completed_at %>
  </p>

</div>
